<%= form_for(@burger) do |f| %>
  <% if @burger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@burger.errors.count, "error") %> prohibited this burger from being saved:</h2>

      <ul>
      <% @burger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Choose a restaurant in the list or add a new one</p>
  <div class="field">
    <%= f.label :restaurant_name %><br>
    <%= f.text_field :restaurant_name %>
  </div>
<p>Add a new restaurant</p>
<%= link_to 'New Restaurant', new_restaurant_path %><br>
<br>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
 

   

  </div>
  <div class="field">

    <%= f.label :profile_picture, 'Select the image file or url:' %><br>
    
    <%= f.file_field :profile_picture %>
    <%= f.text_field :remote_image_url, value: nil, placeholder: 'or paste url here' %>
  </div>
  <br>
  

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

