<h1>Burger's gallery</h1>
<div id="burger-container">
  <% @burgers.each do |burger| %>
    <div class="taped-up">
        <%= link_to (image_tag burger.profile_picture.url(:detail), class: 'image'), burger %>
         <!-- <td><%= link_to 'Show', burger %></td> -->
         <!-- <td><%= link_to 'Edit', edit_burger_path(burger) %></td>  -->
        <%= link_to burger.name, burger_path(burger) %>
        <td><%= link_to 'delete', burger, method: :delete, data: { confirm: 'Are you sure?' } %></td> 

    </div>
  <% end %>
</div>
