<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @burger.name %>
</p>
<p>
  <strong>Restaurant name:</strong><br>
  <%= @burger.restaurant.name %>

</p>
<p>
  <strong>Price:</strong>
  <%= @burger.price %>
</p>

<p>
  <strong>picture:</strong>
  <%= image_tag@burger.profile_picture.detail.url %>
</p>


<p>
  <% if @burger.ratings.blank?%>
    <%= 'No ratings yet! Add one!' %>
  <% else %>
    

  <strong>burgers rating:</strong><br>
  <em><%= "#{@reviews.length} reviews" %></em><br>
  <% @burger.ratings.limit(1).each do |rating| %>
    <tr>
      <td>meat rating: <%= @avg_review %></td><br>

      <td>cheese rating: <%= rating.cheese_rating %></td><br>
      <td>toppings rating: <%= rating.toppings_rating %></td><br>
      <td>bun_rating: <%= rating.bun_rating %></td><br>
      <td>user email: <%= rating.user.email %></td><br>

    </tr>
      <% end %>
    <% end %>
</p>

<%= link_to 'Add a review to this burger', new_burger_rating_path(@burger) %> |
<%= link_to 'review a new burger', new_burger_path %> |
<%= link_to 'Back', burgers_path %>
