<%= form_for([@burger, @rating]) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    

  <div class="field">
    <%= f.label :meat_rating, "Meatiness" %><br>
    <div id="star-rating-meat"></div>
   
  </div>
  <div class="field">
    <%= f.label :cheese_rating,"Cheeseeness"%><br>
    <div id="star-rating-cheese"></div>
  </div>
  <div class="field">
    <%= f.label :toppings_rating, "Toppinginess" %><br>
    <div id="star-rating-toppings"></div>
  </div>
  <div class="field">
    <%= f.label :bun_rating, "Buniness" %><br>
    <div id="star-rating-bun"></div>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
