

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%=@restaurant.postcode %>
</p>


<p>
  <!-- <strong>Latitude:</strong> -->
  <span id="latitude">
    <% @restaurant.latitude %>
  </span>
</p>

<p>
  <!-- <strong>Longitude:</strong> -->
  <span id="longitude">
  <% @restaurant.longitude %>
</span>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<%= link_to 'Back to your review', new_burger_path %>
