<!DOCTYPE html>
<html>
<head>
  <title>BurgerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
 


  
</head>
<body>

  <div class='login'>
      <% if current_user %>
        <%= current_user.email %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% end %>
  </div>
  <br>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav>
    <ul>
      <% if user_signed_in? %>
      <li><%= link_to "My profile", user_path(current_user.id)  %></li>
      <li><a href='/about_us'>About Us</a></li>
     <li><%= link_to "Gallery", burgers_path  %></li>
      <li><%= link_to "Review a new burger", new_burger_path  %></li>
     <li><%= link_to "London Burger map", restaurants_path  %></li>
      <li><a href='/faq'>FAQ</a></li>
      <% end %>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
